*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: rgb(23, 110, 45);
    height: 635px;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: fixed;
    background: rgb(190, 190, 32);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px;
}
.main h2{
    text-align: center;
    color: rgb(80, 31, 170);
    text-transform: uppercase;
}
.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
    border: none;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 25px;
}
.btn{
    background: red;
    color: white;
}
.textarea{                                                                                                                                                                                                                                                                             
    width: 205px;
    margin: 5px;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
    text-align: right;
}
